.container
  %table.table.table-striped
    %thead
      %th Date
      %th Change
      %th
    %tbody
      - @audits.each do |audit|
        %tr{ id: "audit-row-#{audit.id}"}
          %td.created-at
            = audit.author
          %td
            = audit.changes
          %td
            %button.btn.btn-small.btn-info.right{ :type => "button", :'data-toggle' => "collapse", :'data-target' => "#audit_#{audit.id}"}
              = t('audit.view_more_details')
